@charset "utf-8";
/* 20130204-1032 */
/* CONTEXT.CSS TERRA MAIL BRASIL ATMAIL */
/* versao 4 */

/* CASCADING PROPERTIES */
/*@import url("//s1.trrsf.com/atm/2/pt/_css/core.css");*/

/* PRELOADED MODULES */
/*@import url("//s1.trrsf.com/atm/2/core/apps/headerfooter/_css/styles.css");*/

/* PRELOADED MODULES */
/* @import url("thickbox.css"); */
/*
COLORS

BEB7AF = dark gray
FF9900 = orange
*/

/* LABEL LANDING */
.ttl-mail { background: url(//s1.trrsf.com/terramail/capa/terra/_img/ttl-general.gif) left top no-repeat; margin:0; }
h1 { height: 30px; line-height: 30px; font-size: 21px; text-transform: lowercase; }
h1 span { visibility: hidden; }

/* LOGIN */
.mod-login { background-color:#BEB7AF; width:302px; }
.mod-login .ctn-formmail { padding:10px; }
.mod-login .ctn-formmail em { display:block; margin-bottom:10px; width:207px; height:30px; background:url(//s1.trrsf.com/terramail/capa/terra/_img/ttl-general.gif) left -60px no-repeat; text-indent:-9999px; }
.mod-login .ctn-formmail .frm-shoppingmodule span { display:block; clear:both; height:30px; }
.mod-login .ctn-formmail .frm-shoppingmodule label { float:left; clear:both; text-align:left; margin-top:4px; margin-right:5px; width:45px; color:#FFFFFF; font:bold 11px Arial, Verdana, Helvetica, sans-serif; }
.mod-login .ctn-formmail .frm-shoppingmodule strong { float:left; color:#FFFFFF; font:normal 11px Arial, Verdana, Helvetica, sans-serif; margin:6px 0 10px 5px; }
.mod-login .ctn-formmail .frm-shoppingmodule div { width:130px; float:left; margin-bottom:10px; margin-left:9px; }
.mod-login .ctn-formmail .frm-shoppingmodule b { display:block; float:left; background:#FFFFFF url(//s1.trrsf.com/terramail/capa/terra/_img/img-shoppingsearch.gif) no-repeat scroll left top; height:24px; width:1px; }
.mod-login .ctn-formmail .frm-shoppingmodule div input { width:117px; }
.mod-login .ctn-formmail .frm-shoppingmodule .btn-login { background:url(//s1.trrsf.com/terramail/capa/terra/_img/btn-terramail_v2.gif) no-repeat scroll 0 0; width:53px; height:24px; text-indent:-9999px;clear:both;}
.mod-login .ctn-formmail .frm-shoppingmodule a { clear:both; margin-top:6px; }
.mod-login .ctn-formmail .frm-shoppingmodule a:hover .btn-login { background-position:0 -30px; }
.mod-login .ctn-formmail .esqueci_senha { display:block; margin-top:12px; }
.mod-login .ctn-formmail .esqueci_senha a { /*background:url(../_img/ico_esqueci_senha.gif) no-repeat left top; padding-left:20px;*/ text-transform:lowercase; color:#EEEEEE; font:bold 11px Arial, Verdana, Helvetica, sans-serif; }
.mod-login .ctn-formmail .esqueci_senha a:hover { color:#FFFFFF !important; }
.mod-login .ctn-formmail .bxloginErro { clear:both; margin-top:10px; }
.mod-login .ctn-formmail .bxloginErro span { display:block; background-color:#DFDFDF; color:#FF0000; font:bold 11px Arial,Verdana,Helvetica,sans-serif; padding:3px 5px; text-align:center; }

/* Borda mais espaco */
.border-top-mais-espaco { margin-top:6px; }

/* TEXTOS */
.text { background:transparent url(//s1.trrsf.com/terramail/capa/terra/_img/txt-terramail_gigante_mais_espaco.gif) no-repeat scroll; height:47px; width:334px;margin-top:14px;margin-left:14px;float:left;}

/* ICONES */
.icons {background:transparent url(//s1.trrsf.com/terramail/capa/terra/_img/img-icons.gif) no-repeat scroll;margin-left:0px;height:53px;width:371px;margin-left:14px;margin-top:11px;float:left;}

/* FEATURES TEXT */
.txt-features { display:block; float:left; width:405px;margin-left:14px; }
.txt-features .one { display:block; float:left; margin-left:0px; width:90px; }
.txt-features .two{ display:block; float:left; margin-left:0px; width:92px;margin-left:12px; }
.txt-features .tree { display:block; float:left; margin-left:0px; width:90px;margin-left:8px; }
.txt-features li { display:block; float:left;width:90px; }
.txt-features li.last { margin-left:10px;}
.txt-features strong {display:block;}

/* Mais espaco, saiba mais e Empresarial */
.mais-espaco a { height:225px; width:190px; text-indent:-9999px; position:absolute; margin-left:15px; }
.txt-empresarial {background:url(//s1.trrsf.com/terramail/capa/terra/_img/terramail_gigante_empresarial.jpg) no-repeat; height:40px;width:185px;margin-left:433px;margin-top:-36px;float:left;height:47px;text-indent:-9999px;width:185px;}
.border-bottom-terramail-empresarial { margin-bottom:21px; }
.txt_saiba_mais	{background:url(//s1.trrsf.com/terramail/capa/terra/_img/txt-saiba-mais_v2v.jpg) no-repeat; height:231px !important; margin-left:4px !important; width:200px !important; margin-top:-7px;}
.txt_saiba_mais a {text-indent:-9999px; position:absolute; }

/* MENU MAIL */
.mnu-mail li { display:block; float:left; margin-right:15px; margin-top:12px; }
.mnu-mail li span { display:block; float:left; margin:-2px 0 0 15px; }
.mnu-mail li a { display:block; float:left; height:13px; text-transform: uppercase; font-size: 13px;}
.mnu-mail li a.mnu-assine { width:41px; }
.mnu-mail li a.mnu-assine:hover { color:orange; }
.mnu-mail li a.mnu-clube { width:93px; }
.mnu-mail li a.mnu-clube:hover {color:orange; }
.mnu-mail li a.mnu-central { width:162px; }
.mnu-mail li a.mnu-central:hover {color:orange; }
.mnu-mail li a.mnu-ajuda { width:46px; }
.mnu-mail li a.mnu-ajuda:hover {color:orange; }
.mnu-mail li a.mnu-condicoes { width:135px; }
.mnu-mail li a.mnu-condicoes:hover {color:orange; }
.mnu-mail li a.mnu-aprenda { width:195px; }
.mnu-mail li a.mnu-aprenda:hover {color:orange; }
.mnu-mail li a.mnu-faq { width:113px; }
.mnu-mail li a.mnu-faq:hover {color:orange; }

/* BTN-APRENDA USAR O WEBMAIL */
/*.mnu-mail .btn-aprenda {background:url(../_img/btn-terramail_v2.gif) no-repeat; margin-top:2px; text-indent:-9999px;height:25px; width:200px; background-position: -301px 1px }*/
.mnu-mail .btn-aprenda {background:url(//s1.trrsf.com/terramail/capa/terra/_img/mnu-terramail1.gif) no-repeat; text-indent:-9999px; height:10px; width:200px; background-position: -540px 0px; }
.mnu-mail li a:hover.btn-aprenda { background-position:-540px -30px;}

/* DE SUA OPINIAO */
.ctn-opiniao { display:block; margin:6px 0; }
.ctn-opiniao a span { visibility:hidden; }
.ctn-opiniao a { display:block; margin-left:9px; width:360px; height:17px; background:url(//s1.trrsf.com/terramail/capa/terra/_img/txt-opiniaonovomail.gif) no-repeat left top; }
.ctn-opiniao a:hover { background-position:left -30px; }

/* APRENDA A USAR - NOVA JANELA */
.ctn-aprenda { display:block; width:720px; height:480px; position:absolute; top:50%; left:50%; margin-left:-360px; margin-top:-240px; }

/* ASSINE JA */
a.btn-assineja { display:block; text-indent:-9999px; margin-top:1px; width:172px; height:24px; background:url(//s1.trrsf.com/terramail/capa/terra/_img/btn-terramail_v2.gif) no-repeat -118px 0; }
/* a.btn-assineja:hover { background:url(../_img/btn-terramail_v2.gif) no-repeat -120px -30px; } */
a.lnk-saibamais { display:block; width:172px; text-align:center; font-weight:bold; margin-top:5px; }

/* SHOPPING BAR */
.ctn-shoppingsearch { display:block; background-color:#BEB7Af; width:619px; height:44px; }
.ctn-shoppingsearch em { display:block; float:left; text-indent:-9999px; width:100px; height:30px; margin:7px 0 0 11px; background:url(//s1.trrsf.com/terramail/capa/terra/_img/ttl-general.gif) left -90px no-repeat; } /* shopping */
.ctn-shoppingsearch .frm-shoppingmodule { float:right; width:230px; } /* IE6 needs a width */
.ctn-shoppingsearch .frm-shoppingmodule input { margin-top:3px; background-color:#FFF; }

/* PPI MAIL - OFERTAS E MAIS OFERTAS */
/* PPI MAIL - CSS ADAPTADO DA PUBLICIDADE DE CAPA (pelo menos um encapsulamento correto vai ter...) */
#ppi_mail {float:left;clear:both;}
#ppi_mail .ctn-ofertas,
#ppi_mail .ctn-maisofertas1,
#ppi_mail .ctn-maisofertas2 {float:left;margin-right:16px;} /* margem padrao entre boxes de publicidade é 16px */
#ppi_mail .ctn-maisofertas1 {margin-left:17px;} /* contar 1px da linha vertical (1+16=17) */
#ppi_mail .ctn-maisofertas1 .ppi_box {width:179px;} /* centralizando box do meio */
#ppi_mail .ctn-maisofertas2 {margin:0 0 0 17px;}
#ppi_mail .ctn-ppiheaders {background-color:#FFFFFF;height:21px;width:100%;padding-top:7px;}
#ppi_mail .ctn-ppiheaders .store {display:block;float:left;margin:0 172px 0 0;text-align:left;font:normal 11px Arial,Verdana,Helvetica,sans-serif;text-transform:uppercase;color:#BEB7Af;}
#ppi_mail .ppi_box {width:187px;margin:0;font-family:arial,helvetica,sans-serif;}
#ppi_mail .ppi_box .titulo2 {display:block;font-size:12px;font-weight:bold;color:#47423a;}
#ppi_mail .ppi_box .descr3 {display:block;margin-top:5px;font-size:11px;line-height:12px;color:#5d5850;font-style:normal;}
#ppi_mail .ppi_box .box2_ppi {margin:0 0 10px 0;}
#ppi_mail .ppi_box .box3_ppi {margin:0 0 10px 0;}
#ppi_mail .ppi_box .box2_ppi a,
#ppi_mail .ppi_box .box3_ppi a{display:block;}
#ppi_mail .ppi_box .box2_ppi img,
#ppi_mail .ppi_box .box3_ppi img{float:left;margin-right:5px;margin-bottom:15px;}
#ppi_mail .ppi_box .box2_ppi .price,
#ppi_mail .ppi_box .box3_ppi .price{display:block;color:#cb3906;font-size:11px;font-weight:bold;}

/* OUTRAS */
.adv-area { margin:15px 0; width:300px; }
.adv-area .adv-right {margin-bottom:15px;}
.mod-height30px { height:30px; clear:both; } /* centralizando verticalmente as boxes de advertising de ofertas e mais ofertas */
.mod-height15px { height:15px; clear:both; } /* espacamento entre menu mail e main area */
#mod-header .ctn-search-ca { /*display:none;*/ } /* radio buttons na busca do topo */
.adv-footer {background:url(//s1.trrsf.com/terramail/capa/terra/_img/txt-armazenamento-msg.jpg) no-repeat;width:622;height:80px;margin-left:0;margin-top:12px;width:622px;float:left;}
.adv-footer p {padding-bottom:5px;padding-top:32px;margin-left:10px;}
.adv-footer a {margin-left:10px;color:#FFB23F;} 
.adv-footer a:hover {text-decoration:underline;}

/* Formulario Fale Conosco */
.ctn-zone-clean fieldset {margin-bottom:20px;}
.ctn-zone-clean .form-dados {margin-top:10px;}
.ctn-zone-clean .form-dados label {margin-top:5px;margin-bottom:5px;display:block;}	
.ctn-zone-clean .form-dados input {border:1px solid #BEB7AF;width:366px;height:17px;}	
.ctn-zone-clean .form-dados .input_contato {margin-bottom:15px;}
.ctn-zone-clean .form-motivos, .form-naviutil label {margin-bottom:11px;margin-left:0;}
.ctn-zone-clean .form-naviutil input {border-width:1px;border-color:#BEB7AF;}	
.ctn-zone-clean .form-naviutil .form-naviutil-ie6 {margin-bottom:5px;margin-top:12px} 
.ctn-zone-clean .form-naviutil .form-naviutil-ie6 label {margin-bottom:1px;margin-left:13px;} 
.ctn-zone-clean .form-naviutil .form-naviutil-ie7 {margin-bottom:5px;margin-top:5px} 
.ctn-zone-clean .form-naviutil .form-naviutil-ie7 label {margin-bottom:1px;margin-left:13px;} 
.ctn-zone-clean .form-naviutil .form-naviutil-ie8 {margin-bottom:5px;margin-top:5px} 
.ctn-zone-clean .form-naviutil .form-naviutil-ie8 label {margin-bottom:1px;margin-left:13px;} 
.ctn-zone-clean .form-naviutil .form-naviutil-ff2 {margin-bottom:5px;margin-top:5px}  
.ctn-zone-clean .form-naviutil .form-naviutil-ff2 label {margin-bottom:1px;margin-left:13px;}  
.ctn-zone-clean .form-naviutil .form-naviutil-ff3 {margin-bottom:5px;margin-top:5px}  
.ctn-zone-clean .form-naviutil .form-naviutil-ff3 label {margin-bottom:1px;margin-left:13px;} 
.ctn-zone-clean .form-naviutil .form-naviutil-outros {margin-bottom:5px;margin-top:5px}  
.ctn-zone-clean .form-naviutil .form-naviutil-outros label {margin-bottom:1px;float:left;line-height:18px;margin-left:13px;margin-top:-2px;} 
.ctn-zone-clean .form-naviutil .form-naviutil-outros .form-naviutil-input {margin-left:5px;height:17px;width: 183px;line-height:18px;margin-top:-1px;border:1px solid #BEB7AF;}  
.ctn-zone-clean .form-opiniao label {display:block;}
.ctn-zone-clean .form-opiniao textarea {border:1px solid #BEB7AF;height:111px;width:364px;overflow:hidden;}
.ctn-zone-clean .form-motivo label {float:left;}
.ctn-zone-clean .form-motivo .combobox {margin-left:90px; }
.ctn-zone-clean .form-motivo .cmb-value {cursor:pointer;height:17px;line-height:17px;width:100%;background:transparent url(//s1.trrsf.com/terramail/capa/terra/_img/img-controls.gif) no-repeat scroll 0 -30px;float:left;margin-right:1px;padding-left:6px;margin-top:-3px;}
.ctn-zone-clean .form-motivo .cmb-value span {background:transparent url(//s1.trrsf.com/terramail/capa/terra/_img/img-controls.gif) no-repeat scroll -30px -90px;display:block;float:right;height:17px;text-indent:-9999px;width:20px;}
.ctn-zone-clean .form-opiniao label {margin-bottom:5px;} 
.ctn-zone-clean .form-versao label {display:block;margin-bottom:10px;}
.ctn-zone-clean .form-versao .form-versao-label {margin-left:19px; }
.ctn-zone-clean .bt_enviar {text-indent:-9999px; background:transparent url(//s1.trrsf.com/terramail/capa/terra/_img/btn-terramail_v2.gif) no-repeat scroll -512px 0; width:52px; margin-left:150px;} 

/* Formulario Fale Conosco - Classes do core e tambem classes modificadas via js.*/
.chk-replace span, .chk-rdo-replace-replaced {margin-bottom:0 !important;}
.chk-rdo-replace { background:transparent url(//s1.trrsf.com/terramail/capa/terra/_img/img-controls.gif) no-repeat scroll -30px -120px; background-position:-30px -150px; cursor:pointer;display:block;float:left;height:13px;margin-right:0 !important;text-indent:-9999px;width:13px;}
.rdo-replace, .chk-replace {margin-right:0 !important;margin-bottom:0 !important;}
.col-left-full img { margin-bottom:0; margin-left:0; margin-top:10px; }

/* Condicoes de uso - Terra Mail Brasil.*/
.ctn-condicoes {margin-left:10px;margin-top:10px;} 
.ctn-condicoes h1 {text-transform:uppercase; font-size:12px;margin-bottom:0;color:#5B584F;} 
.ctn-condicoes h2 {margin-top:15px; margin-bottom:0 !important; font-size:12px; padding-bottom:11px !important;color:#5B584F;} 
.ctn-condicoes h4 {display:inline;font-size:14px;color:#5D5850; }
.ctn-condicoes p  {text-transform:none;margin-bottom:10px;} 
.ctn-condicoes .paragrafo { display:block;} 
.contorno_iframe {height:auto; width:615px; border:3px solid #FF9900;padding-right:3px;margin-left:0; }
.ctn-zone .img-conduso {margin-bottom:20px; } 

/* terra mail gigante fundo cinza*/
.ctn-zone-one {height:auto;width:auto;}
.ctn-zone-botton { background-color:#ECEAE7; width:618px;height:223px; margin-top:-4px; }

/*ZONA - ARMAZENAMENTO "SHOWMODAL" */
.all{background:transparent url(//s1.trrsf.com/terramail/capa/terra/_img/bg_armazenamento.gif)no-repeat; width:602px;height:256px;padding-left:14px;line-height:15px;}
.all span {background:transparent url(//s1.trrsf.com/terramail/capa/terra/_img/img_close.gif) no-repeat;height:18px;width:12px;text-indent:-9999px;float:right;margin-top:15px;margin-right:10px;}
.all p{width:590px;padding-top:32px;padding-bottom:10px;}
.all text {width:590px;}
.all ul{margin-left:15px;width:390px;margin-top:10px;}
.all ul li{font-weight:normal;margin-top:5px; }
.all .low-gray {color:#BEB7AE;padding-top:5px;padding-bottom:0;}

/* Mistérios da fé */

#TB_title {background-color:#FFFFFF !important;height:0;text-indent:-999px; } 
#TB_closeWindowButton {color:#FF9900 !important; width:10px; } 
#TB_closeWindowButton a:hover {color:#FF9900 !important; }
#TB_closeWindowButton a:visited {color:#FF9900 !important; } 
.magic {_height: 220px! important }

/* Publicidades ( Particles e Apulse) */
#ctn-tgm-particles {margin-left:648px;}
#ctn-tgm-apulse {margin-left:648px;}
.ctn-tgm-advertising{position:absolute;}
#ctn-tgm-apulse em, #ctn-tgm-particles em {color:#999999;display:block;font-size:9px;font-style:normal;padding-bottom:2px;text-transform:lowercase;} 

/* box tbox */
.col-right .tbox {background:transparent url(//s1.trrsf.com/terramail/capa/terra/_img/txt_box_tbox.gif) no-repeat;height:60px;width:300px;margin-top:13px;}
.col-right .tbox a {height:60px;width:300px;position:absolute;text-indent:-9999px;}
.col-right .tbox span {text-indent:-9999px;}

/* Módulo Audience Pulse*/

.mod-audience_pulse_ver {position:none !important; margin-top:15px; }

/* COLUNAS */
.col-left-r-clean {/*float: left;*/overflow: hidden; /*margin: 0 0 0 8px;*/}

.col-left-r-clean-one {
	float:left; 
}

.col-left-r-clean {
	width: auto;
}

.col-skinny-clean {
	width: 405px;
}

.col-right {
	width: 298px;
}

.col-skinny .links {
	float: right;
	margin-top: 8px;
}

.col-skinny-clean .bgr-lightgray {
	margin-bottom: 1px;
}

.bgr-lfr {
	background: url(//s1.trrsf.com/terramail/capa/terra/_img/lin-solid.gif) 627px top repeat-y;
	border-bottom: 0;
}

.bgr-slr {
	background: #FFFFFF;
}

.bgr-s-clean {
	background: #FFFFFF;
}

.bgr-sss-clean {
	background: url(//s1.trrsf.com/terramail/capa/terra/_img/lin-ver-sssr.gif) 203px top repeat-y;
	border-bottom:0px;
}
.bgr-sss,
.bgr-sssr {
	background: url(//s1.trrsf.com/terramail/capa/terra/_img/lin-ver-sssr.gif) 203px top repeat-y;
}

.col-left-r-clean .lin-spacer {
	background:#FFFFFF url(//s1.trrsf.com/terramail/capa/terra/_img/lin-dotted.gif) repeat-x scroll left center;
	line-height:1px;
	margin:0;
	padding:19px 0 13px;
	*padding-top:8px;
}
.col-left .bgr-lightgray .col-skinny-clean {
	margin-left: -4px;
	margin-right: 20px;
}

.ctn-zone-botton1 {background:transparent url(//s1.trrsf.com/terramail/capa/terra/_img/612x529_logout.jpg) no-repeat;height:547px;width:619px;margin-top:-6px;}
.ctn-zone-botton1 a {height:45px;margin-left:354px;margin-top:460px;width:227px;position:absolute;text-indent:-9999px;}
.ctn-zone-botton1 span {text-indent:-9999px;}


#ctn-tgm-top {margin-left: 109px;}

#slider, #slider-wrapper { width: 619px; height: 227px; position: relative; overflow:hidden; margin-top:-5px; }
#slider ul, #slider li { list-style: none; position: relative; margin: 0; padding: 0; }
#slider li { width: 619px; height: 227px; overflow: hidden; }
#slider img { margin: 0; padding: 0; border: none; }
#controls { position: absolute; bottom: 10px; right: 10px; overflow: hidden; }
#controls ol { list-style: none; }
#controls li { float: left; }    
#controls a { background-color:#FF9900; color: #FFFFFF; display: block; font: 12px 'Arial',sans-serif; margin-left: 2px; padding: 2px 5px; text-decoration: none; }
#controls a:hover {color:#FFF!important;}
#controls .current a { background: #fff; color: #ff9900; }
#controls .current a:hover { color: #ff9900; }

.mod-login {background-color:#FFF; border:solid 2px #E7E8E2; width:296px; color:#B4B0AD;}
.mod-login .ctn-formmail .frm-shoppingmodule label {color:#47423A; width:200px; font-weight:normal; font-size:11px;}
.mod-login input {border: solid 1px #E7E8E2; height:20px;}
.mod-login .ctn-formmail .frm-shoppingmodule div {margin-left:0px; width:187px;}
.mod-login .ctn-formmail em { background: url("//p1.trrsf.com/image/klavika?c=sh&t=acesse%20seu%20terra%20mail") no-repeat scroll left transparent; margin-bottom:0px; }
.frm-shoppingmodule div {background:none;}
.mod-login .ctn-formmail .frm-shoppingmodule strong {color:#47423A;}
.mod-login .ctn-formmail .frm-shoppingmodule div input.user { width:180px; }
.mod-login .ctn-formmail .frm-shoppingmodule div input.pass { width:274px; }
.mod-login .ctn-formmail .frm-shoppingmodule strong { font-size:9px;}
.mod-login .ctn-formmail .frm-shoppingmodule div input.ico-check { width:15px; float:left; margin-left:25px; background: url("//s1.trrsf.com/atm/3/core/_img/form-elements.png") no-repeat scroll -30px -150px transparent }
.mod-login .ctn-formmail .frm-shoppingmodule .ctn-submit .lbl-remember { clear: none; float: left; margin-left: 98px; margin-top: -20px;     width: 115px;}
.mod-login .rdo-replace {clear:none!important; height:14px!important; margin-top:5px; }
.mod-login .ctn-formmail .esqueci_senha {margin-top:0px;}
.mod-login .ctn-formmail .esqueci_senha a {color:#47423A; font-weight:normal; text-transform:none; width:125px; background: url("//s1.trrsf.com/atm/3/core/_img/ico-general.png") no-repeat scroll 0 0 transparent; background-position:108px -716px; float:left; margin-bottom:5px; }
.mod-login .ctn-formmail .esqueci_senha a:hover {color:#FF9900!important; background-position: 108px -761px; }

.ctn-bottom-click {background-color:#E7E8E2; padding:5px; width:290px; margin-bottom:15px; height:20px;}
.ctn-bottom-click a {width:290px; background: url("//s1.trrsf.com/terramail/capa/terra/_img/opiniao.gif") no-repeat; height:20px; text-indent:-9999px; float:left; }
.ctn-bottom-click a:hover { background-position:0px -20px; }
.mod-login .ctn-formmail .frm-shoppingmodule .btn-login:hover {background-position:0px -30px;}

#ctn-tgm-pagesponsor { width:97px; height:90px; margin-left:839px; }
#mod-header .ctn-pagesponsor { width:97px; height:90px; }


/* aviso inadimplente */
.ctn-trasp { width:100%; height:100%; position:fixed; top:0px; background-color:#000; opacity: 0.6; z-index: 99999; filter: alpha(opacity = 60); *margin-left:0px; *left:0px; }
.ctn-overdue * { margin: 0; padding: 0; border: none; }
.ctn-overdue { background-color: #FFFFFF; border: 2px solid #E67607; color: #47423A; font: 16px/1.3 'Arial',sans-serif; height: 637px; position: absolute; top: 90px; width: 937px; z-index: 99999; display:none; opacity: 1; left: 50%; margin-left: -471px;}
.ctn-overdue .ttl-top img { display: block; }
.ctn-overdue .ttl-text { width: 547px; height: 390px; padding: 50px 45px; background: url(//s1.trrsf.com/terramail/capa/terra/_img/bg.png) 0 0 no-repeat; }
.ctn-overdue p { margin-bottom: 20px; }
.ctn-overdue p a { font-size: 21px; color: #e67607; text-decoration: none; font-weight: bold; }
.ctn-overdue small { font-size: 11px; bottom: 30px; }
.ctn-overdue a.entrar img { position: absolute; top: 233px; right: 33px; }
.ctn-overdue a.fechar img { position: absolute; top: 0; right: 0; }
.list-obs { margin-top: 90px; width: 100%; }
.ifr-slider { height: 236px; margin-left: -7px; margin-top: -13px; width: 628px; overflow: hidden; }

/*aviso*/
.aviso p{ padding-bottom: 10px; padding-top: 15px; width: 590px; }
.aviso b{ color: #999999 !important}
.ttl-aviso { background: url(//s1.trrsf.com/terramail/capa/terra/_img/aviso.png) left top no-repeat; margin-top: 25px; }

#tgm-hotad { height: 297px; margin-top: 12px;  }

.content-hotad .ttl-section span { width:68px; background:url("//s1.trrsf.com/atm/2/core/apps/modules-2010/_img/ttl-general-pt.png"); }
.LNG_es .content-hotad .ttl-section span { width:82px; background:url("//s1.trrsf.com/atm/2/core/apps/modules-2010/_img/ttl-general-es.png"); }
.LNG_en .content-hotad .ttl-section span { width:173px; background:url("//s1.trrsf.com/atm/2/core/apps/modules-2010/_img/ttl-general-en.png"); }

/* ADV PPI HORIZONTAL */
/*#tgm-hotad { height:306px; }*/
.content-hotad { width:917px; padding:6px 7px 12px; border:3px solid #ECEAE7; overflow:hidden; height: 273px; margin-top: 12px!important; }
.content-hotad .ctn-section { margin: 0; }
.content-hotad .ttl-section { margin:0; padding-bottom: 10px; }
.content-hotad .ttl-section span { display: block; height: 25px; text-indent: -9999px; width: 67px; }
.content-hotad .ttl-section a { background:url("//s1.trrsf.com/atm/2/core/apps/modules-2010/_img/ico-general.png") no-repeat right -262px; display:block; float:left; padding-right:11px; }
.content-hotad .ttl-section a:hover span{ background-position:-200px 0;}
.content-hotad ul{ padding-left:1px; height:177px; }
.content-hotad li{ display:block; float:left; /*position:relative;*/ width:125px; height:175px; padding: 0 12px 0; background: url("//s1.trrsf.com/atm/2/core/apps/modules-2010/_img/lin-dotted.gif") repeat-y right top; }
.content-hotad li strong{ /*position:absolute;*/ top:-3px; display:block; width: 125px; height:30px; font:12px Arial; }
.content-hotad li p{ display:block; font:bold 14px Arial; }
.content-hotad li span{ display:block; font:bold 18px Arial; color:#F90; }
.content-hotad li a:hover span{ text-decoration:underline; }
.content-hotad li img{ clear: both; margin:18px 19px 16px 17px; }
.content-hotad ul .last{ background:none; }
.content-hotad form{ width:278px; height:28px; float:right; background:url("//s1.trrsf.com/atm/2/core/apps/modules-2010/_img/mod-adv-search.gif") no-repeat; }
.content-hotad legend{ display:none; }
.content-hotad .q { position:relative; overflow:hidden; float:left; border:0; width:204px; height:1.2em; padding:8px 0 4px 11px; background:none; color:#999; line-height:1.2em; font-size:11px; }
.content-hotad form .submit { width:63px; height:28px; float:right; background:url("//s1.trrsf.com/atm/2/core/apps/modules-2010/_img/btn-general.png") 0 -420px; border:none; overflow:hidden; text-indent:-999px; line-height:99em; cursor:pointer; }
.content-hotad form .submit:hover { background-position:-250px -420px; }
.content-hotad .lin-hor-dotted { border:22px solid #fff; border-width:22px 0 12px; margin:0; overflow:hidden; zoom:1; clear:both; }
.content-hotad .logo { display:block; float:left; width:125px; height:21px; margin-top:4px; background:url("//s1.trrsf.com/atm/2/core/apps/modules-2010/_img/ttl-ppi-pt.png") no-repeat; text-indent:-9999px; }
