@charset "utf-8";
/* 20130826-1410 */

/*
PROPERTIES RESET
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 100%;
	background-color: #FFFFFF;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table, caption, tbody, tfoot, thead, tr, th, td {
	vertical-align: middle;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
// PROPERTIES RESET
   BASED ON http://meyerweb.com/eric/tools/css/reset/ > v1.0 | 20080212
*/

/*
CROSS DEFINITIONS
*/
body {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #5D5850;
	line-height: 13px;
}
a {
	color: inherit;
	*color: #47423A;
	text-decoration: none;
}
a:hover {
	color: #FF9900 !important;
}
	.lnk-more {
		text-transform: lowercase;
		font-weight: bold;
		color: #FF9900 !important;
		line-height: 16px;
		margin-left: 1px;
		font-size: 11px;
	}
	.lnk-more:hover, a:hover .lnk-more {
		text-decoration: underline;
	}
	.img-news .lnk-video {
		display: none;
	}
	.img-news a:hover .lnk-video {
		position: absolute;
		display: block;
		width: 36px;
		height: 27px;
		text-indent: -9999px;
		background: url(../_img/btn-general.gif) -150px top no-repeat;
		opacity: 0.75;
		filter: alpha(opacity=75);
		margin: 17px 0 0 23px;
		*margin-left: -59px;
		cursor: pointer;
	}
div {
	margin: auto;
	text-align: left;
}
.img-right {
	float: right;
	margin-left: 10px;
}
.lst-accessibility {
	position: absolute;
	top: -9999px;
}
.clear {
	clear: both;
}
#trr-ctn-general {
	width: 970px;
}

h1, .ttl-h1, h2, h3 { color: #47423A; }
h1, .ttl-h1 { font-size: 23px; line-height: 26px; margin-top: 0; margin-bottom: 13px; *margin-bottom: 5px; }

.ttl-page-header { background:none; }
.ttl-page-header a, .ttl-page-header span { display:block; width:100%; height:30px; background-repeat:no-repeat; overflow:hidden; text-indent:-99999px; }

.ttl-clear-bottom { margin-bottom:0 !important; }

h2 { font-size: 14px; line-height: 16px; margin-top: 2px; margin-bottom: 12px; *margin-bottom: 13px;}

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* hack para safari*/ 
h2
{
	padding-bottom: 3px;
}

}
h3 {
	font-size: 12px;
}
	h1 br, h2 br, h3 br {
		line-height: 0;
		display: none;
	}
		h1 a br, h2 a br {
			line-height: normal;
		}
		.bgr-lightgray h1 br, .bgr-lightgray h2 br, .bgr-lightgray h3 br {
			display: inline;
		}
	h1 .txt-claim, .ttl-h1 .txt-claim, h2 .txt-claim, h3 .txt-claim {
		font-size: 12px;
		font-style: normal;
		font-weight: normal;
		line-height: 16px;
		display: block;
		cursor: pointer;
		padding-top: 8px;
	}
	h2 .txt-claim {
		color: #5D5850;
	}
	h1 a:hover .txt-claim, .ttl-h1 a:hover .txt-claim, h2 a:hover .txt-claim, h3 a:hover .txt-claim {
		color: #47423A;
	}
h4 {
	color: #999999;
	text-transform: uppercase;
	margin-bottom: 3px;
	*margin-bottom: 2px;
	*line-height: 14px;
}
	h4 a {
		*color: #999999;
		*line-height: normal;
	}
	h4 em {
		font-size: 11px;
	}
h5, h6 {
	background: none left top no-repeat;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
	font-size: 21px;
	text-transform: lowercase;
}
	h5 a {
		background: url(../_img/ico-general.gif) right top no-repeat;
	}
		.ttl-section {
			background: none !important;
		}
		.ttl-section a {
			position: absolute;
			padding-right: 10px;
			background-position: right 5px;
		}
	h5 a span {
		visibility: hidden;
		font-weight: normal;
		font-size: 21px;
		letter-spacing: -0.01em;
		line-height: 27px;
	}
h6 {
	height: 15px;
	margin-bottom: 0;
}
	h5 span, h6 span {
		visibility: hidden;
	}
button {
	display: block;
	float: left;
	border: 0;
	height: 24px;
	margin: 10px 0 0;
	padding: 0;
	cursor: pointer;
}
	button span {
		display: none;
	}
.ttl-most, .ttl-photos, .ttl-morenews, .ttl-videos, .ttl-mobile, .ttl-communities, .ttl-poll, .ttl-shopping, .ttl-related {
	background-image: url(../_img/ttl-modules.gif);
}
	.ttl-most {
		background-position: left top;
	}
	.ttl-photos {
		background-position: left -150px;
	}
		.ttl-photos a {
			background-position: -142px top;
		}
	.ttl-morenews {
		background-position: left -210px;
	}
	.ttl-videos {
		background-position: left -240px;
		margin-bottom: 7px;
	}
	.ttl-mobile {
		background-position: left -90px;
	}
		.ttl-mobile a {
			background-position: -129px top;
		}
	.ttl-communities {
		background-position: left -60px;
	}
	.ttl-poll {
		background-position: left -120px;
		margin-top: -1px;
	}
	.ttl-shopping {
		background-position: left -179px;
	}
		.ttl-shopping a {
			background-position: -122px 1px;
		}
.ctn-shoppingbar, .ctn-shoppingbar-act {
	position: absolute;
	top: 221px;
	margin-left: 763px !important;
	min-width: 50px;
	_width: 50px;
	/*clip: rect(0 180px auto 130px);*/
	clip: rect(0 178px auto 128px);
	z-index: 900;
}
.trr-home .ctn-shoppingbar, .trr-home .ctn-shoppingbar-act {
	top: 196px;
}
.trr-itelefonica .ctn-shoppingbar, .trr-itelefonica .ctn-shoppingbar-act {
	top: 296px;
}
	.ctn-shoppingbar-act {
		min-width: 180px;
		_width: 180px;
		clip: rect(0 180px auto 0);
	}
.blq-news-bar {
	border: 2px solid #BEB7AF;
	/*margin-right: 57px;*/
	padding: 4px 6px;
	font-weight: bold;
	vertical-align: text-top;
	margin-bottom: 24px;
}
	.blq-news-bar, .blq-news-bar a {
		color: #47423A;
	}
	.blq-news-bar .lnk-more {
		float: right;
		line-height: 19px;
	}
	.blq-news-bar em, .blq-news-bar span {
		display: inline-block;
		height: 19px;
		line-height: 19px;
	}
	.blq-news-bar em {
		display: block;
		float:  left;
		text-indent: -9999px;
	}
	.blq-news-bar span {
		background: url(../_img/lin-dotted.gif) 9px top repeat-y;
		_background-position: 6px top;
		padding-left: 17px;
		_padding-left: 14px;
	}
	.blq-live em, .blq-minmin em, .blq-breaking em {
		background: url(../_img/ico-general.gif) left -28px no-repeat;
		width: 66px;
	}
	.blq-live a, .blq-minmin a {
		color: #7F7871;
	}
		.blq-minmin em {
			background-position: left -88px;
			width: 124px;
			margin-left: 1px;
			margin-right: -1px;
		}
	.blq-breaking {
		border: 3px solid #FF9900;
		padding: 3px 6px;
		font-size: 14px;
	}
		.blq-breaking em {
			background-position: left -58px;
			width: 57px;
		}
		.blq-breaking span {
			height: 14px;
			margin: 2px 0 3px;
			_margin-bottom:2px;
			line-height: 100%;
		}
		.blq-breaking span {
			background-position:9px 1px !important;
			_background-position: 6px 1px;
		}
.lst-clear-top {
	margin-top:0 !important;
	margin-bottom:14px !important;
}
.lst-clear-top li {
	margin-top:0 !important;
}
.lst-headlines {
	margin: -7px 0 6px 0;
	margin-top: -7px;
}
	.lst-headlines li {
		font-weight: bold;
		background: url(../_img/ico-general.gif) -184px -270px no-repeat;
		padding-left: 7px;
		margin-top: 9px;
	}
		.lst-headlines li a {
			*background-color: #FFFFFF;
		}
	.lst-headlines .itm-clear {
		background: none;
		padding: 3px 0 0 1px;
	}
	.lst-clean {
		margin-top: -11px;
		*margin-top: -9px;
	}

.lst-inline {
	overflow: hidden;
	_width: 100%;
	margin-top: -15px;
	*margin-top: -14px;
	margin-bottom: 14px;
	*margin-bottom: 21px;
}
	.lst-inline li {
		float: left;
		padding-right: 8px;
		_height: 16px;
		_line-height: 16px;
		_background-position: -184px -269px;
		*margin-top: 3px;
	}
	.lst-inline a em {
		_margin-top: -1px;
	}
.lst-headlines .lst-inline {
	/**/
}
	.lst-headlines li .lst-inline {
		margin: 0;
		*margin-top: 6px;
		margin-left: -7px;
	}
	.lst-headlines .itm-clear .lst-inline {
		margin-left: 0;
	}

h1 a acronym, h2 a acronym, h3 a acronym, .lst-headlines a acronym, .img-news a acronym {
	background: url(../_img/ico-general.gif) right -471px no-repeat;
}
	h2 a acronym {
		background-position: right -478px;
	}
	h3 a acronym {
		background-position: right -480px;
	}	
	.ttl-h1 a acronym {
		background-position: right -471px;
		/background-position: right -473px;
	}
	.lst-headlines a acronym {
		background-position: right -480px;
		/background-position: right -481px;
	}
	.img-news a acronym {
		background-position: right -480px;
		/background-position: right -481px;
	}	
	h1 a acronym span, h2 a acronym span, h3 a acronym span, .lst-headlines a acronym span, .img-news a acronym span {
		display: inline-block;
		width: 10px;
		visibility: hidden;
		letter-spacing: 5px;
	}
	.ttl-h1 a acronym span {
		letter-spacing: 0px;	
	}

.ctn-zone, .ctn-zone-clean {
	clear: left;
	border-top: 15px solid #FFFFFF;
	overflow: hidden;
	_display: inline-block;
}
	.ctn-zone-clean {
		border-top: 0;
	}
	.ctn-zone-box {
		overflow: visible;
	}
.col-left, .col-left-clean, .col-skinny, .col-skinny-clean, .col-skinny-right, .col-left-full, .col-wide, .col-wide-clean, .col-right, .col-left-half, .col-left-half-clean  {
	float: left;
	_overflow: hidden;
	margin: 0 9px 0 8px;
}
.col-left {
	width: 407px;
}
	.col-left-clean {
		margin: 0;
	}
	.col-skinny-right {
		margin: 0 0 0 17px;
	}
.col-skinny, .col-skinny-clean, .col-skinny-right {
	width: 195px;
}
	.col-skinny-clean {
		margin-left: 0;
	}
.col-left-full {
	width: 619px;
	margin-left: 0;
}
	.col-left-full .col-left {
		margin-left: 0;
	}
	.col-left-full .col-skinny {
		margin-right: 0;
	}
	.col-left-full .ctn-title {
		border-top: 0;
	}
.col-left-half, .col-left-half-clean {
	width: 301px;
	margin-left: 0px;
}
	.col-left-half-clean {
		margin-right: 0px;
		margin-left: 8px;
		_width: 298px;
	}
.col-wide, .col-wide-clean  {
	width: 89px;
	margin-left: 0;
}
	.col-wide-clean {
		width: 97px;
		margin-right: 0;
	}
		.col-wide-clean h4, .col-wide-clean h3 {
			margin-left: 8px !important;
		}
		.bgr-lightgray .col-wide-clean {
			width: 77px !important;
		}
		.bgr-lightgray .col-wide-clean h4, .bgr-lightgray .col-wide-clean h3 {
			margin-left: 0 !important;
		}
		.col-wide-clean h3 {
			/*margin-top:-2px;*/
			margin-top:1px;
		}
	.bgr-lightgray .col-skinny-clean {
		width: 195px;
	}	
.col-right {
	width: 300px;
}
.lin-hor-solid {
	border-top: 1px solid #ECEAE7;
	line-height: 1px;
}
	.lin-hor-clean {
		margin-top: 15px;
	}
.lin-hor-dotted {
	background: url(../_img/lin-dotted.gif) left top repeat-x;
	line-height: 1px;
}
	.lin-ver-caption {
		position: absolute;
		_position: relative;
		_float: left;
		background: url(../_img/lin-dotted.gif) right top repeat-y;
		width: 205px;
		height: 146px;
		*margin-left: -195px;
		_margin-left: 0;
		_margin-top: -146px;
		z-index: 0;
	}
	.ctn-title .lin-ver-caption {
		_margin-top: -161px;
	}
.lin-spacer, .lin-caption, .lin-tiny, .lin-spacer-clean {
	margin: 15px 0;
	clear: both;
}

	@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* hack para safari*/ 
	.lin-spacer, .lin-caption, .lin-tiny, .lin-spacer-clean
	{
		margin-bottom: 12px;
	}

	}
	.lin-caption {
		*margin-top: 0px;
	}
	.lin-tiny {
		margin: 6px 0;
	}
	.lin-spacer-clean {
		margin: -95px 0 0 0;
		/margin: -96px 0 0 0;
	}
.bgr-lsr {
	background: url(../_img/lin-ver-lsr.gif) 415px top repeat-y;
}
	.bgr-lsr .col-left {
		margin-left: 0;
	}
.bgr-hhr {
	background: url(../_img/lin-ver-hhr.gif) 309px top repeat-y;
}
.bgr-lfr {
	background: url(../_img/lin-solid.gif) 627px top repeat-y;
	border-bottom: 0;
}
.live, .minmin, .ico-hed-now, .vc, .photo, .video, .info, .alert {
	color: #FF9900;
	text-transform: uppercase;
	font-style: normal;
	height: 16px;
	padding-right: 5px;
	_padding-right: 2px;
	display: block;
	float: left;
	margin-top: -1px;
}
	.live, .minmin, .ico-hed-now, .photo, .video, .info, .alert {
		background: url(../_img/ico-general.gif) -184px -30px no-repeat;
		padding-left: 19px;
	}
	
	.live {
		font-weight: bold;
	}
	.txt .live {
		margin-top: -1px;
	}
	
	.live, .minmin, .ico-hed-now {
		margin-top: -1px;
		margin-bottom: -2px;
		font-size: 11px;
	}
	.minmin {
		background-position: -184px -90px;
	}
	.ico-hed-now {
		background-position:0 -898px;
	}
	
	.alert {
		background-position: left -822px;
	}		
		.col-skinny .lst-headlines .live, .col-skinny .lst-headlines .minmin {
			*margin-top: -2px;
		}
		h1 .live, h1 .minmin, h1 .ico-hed-now, .ttl-h1 .live, .ttl-h1 .minmin, .ttl-h1 .ico-hed-now {
			height: 23px;
			line-height: 31px !important;
			*line-height: 29px !important;
		}
		h1 .live, .ttl-h1 .live {
			background-position: -184px -21px;
			*background-position: -184px -22px;
		}
		h1 .minmin, .ttl-h1 .minmin {
			background-position: -184px -82px;
			*background-position: -184px -83px;
		}
		h1 .ico-hed-now, .ttl-h1 .ico-hed-now {
			background-position:0 -892px;
			*background-position:0 -893px;
		}
		
		h2 .live, h2 .minmin, h2 .ico-hed-now {
			margin-top: 0;
		}
		
		h1 .photo, .ttl-h1 .photo, h1 .video, .ttl-h1 .video, h1 .info, .ttl-h1 .info {
			margin-top: 5px;
		}
		h2 .photo, h2 .video, h2 .info {
			margin-top: -2px;
		}
		.lst-headlines .live, .lst-headlines .minmin {
			margin-top: -1px;
			margin-bottom: -3px;
		}
	.vc {
		font-weight: bold;
		margin-bottom: -2px;
	}
	.photo, .video, .info {
		width: 16px;
		padding: 0;
		margin-top: -3px;
		padding-right: 5px;
		_padding-right: 2px;
	}
	.photo span, .video span, .info span {
		text-indent: -9999px;
		display: block;
	}
	.photo {
		background-position: left -120px;
	}
	.video {
		background-position: left -150px;
	}
	.info {
		background-position: left -420px;
	}
	a .live, a .minmin, a .ico-hed-now, a .vc, a .photo, a .video, a .info, a .alert {
		*cursor: pointer;
	}
	a .vc {
		height: auto;
		line-height: normal;
	}
	a .live, a .minmin, a .ico-hed-now, a .alert {
		line-height: 16px;
	}

	
.right {
	float: right;
	text-align: left;
	width: 50%;
}
.ctn-icons {
	float: right;
	margin: 7px 5px 0 0;
}
	.ctn-icons li {
		float: left;
		padding: 0 8px 0 6px;
		background: url(../_img/lin-dotted.gif) right 1px repeat-y;
	}
/*
.icon {
	display: block;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	float: left;
}
*/
	.rss {
		background: url(../_img/ico-general.gif) left -210px no-repeat;
	}
.img-news {
	float: left;
	position: relative;
	z-index: 1;
}
.img-clear-bottom {
	*margin-bottom:0 !important;
}
	.ctn-main .img-news, .ctn-title .img-news {
		margin-bottom: 15px;
	}
		.ctn-main .bgr-lightgray .img-news, .ctn-title .bgr-lightgray .img-news {
			margin-bottom: 0;
		}
	.img-news a, .img-news img {
		float: left;
		overflow: hidden;
	}
	.img-news a:hover, .img-news .selected {
		border: 3px solid #FF9900;
	}
		.img-news .selected {
			cursor: default;
		}
	.img-news a:hover img, .img-news .selected img {
		margin: -3px;
	}
	.img-news .bgr, .img-news .txt, .txt-single .bgr, .txt-single .txt {
		float: left;
		overflow: hidden;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 397px;
		padding: 6px 5px 0 5px;
		cursor: pointer;
		color: #47423A;
	}
	.img-news .bgr, .img-news .txt {
		width: 185px;
		height: 31px;
	}
	.txt-single .bgr, .txt-single .txt, .ico-single .bgr, .ico-single .txt {
		padding: 7px 5px 0 5px;
		width: 397px;
		height: 19px;
		_bottom: -1px;
	}
	.ico-single .bgr, .ico-single .txt {
		width: 17px;
		height: 19px;
	}
	.img-news .bgr {
		background-color: #FFFFFF;
		opacity: 0.85;
		-moz-opacity: 0.85;
		filter: alpha(opacity=85);
	}
	.img-news em {
		display: block;
		float: left;
		height: 16px;
		margin-top: -3px;
		*margin-top: -4px;
		_margin-bottom: -2px;
		margin-right: -1px;
	}
	.img-news .minmin, .img-news .ico-hed-now {
		font-weight: bold;
	}
	.img-news .vc, .img-news .minmin, .img-news .ico-hed-now {
		display: inline-block;
		margin: -1px -2px -2px 0;
	}
	.img-news a:hover .bgr, .img-news a:hover .txt {
		margin-left: 3px;
		height: 28px;
		padding: 6px 2px 0 2px;
		bottom: 3px;
	}
	.txt-single a:hover .bgr, .txt-single a:hover .txt, .ico-single a:hover .bgr, .ico-single a:hover .txt {
		height: 16px;
		_height: 17px;
		padding: 7px 2px 0 2px;
		_bottom: 1px;
	}
	.ico-single a:hover .bgr, .ico-single a:hover .txt {
		padding-right: 5px ;
	}
	.img-news strong {
		text-transform: uppercase;
		color: #5D5850;
		padding-right: 2px;
	}
	.col-wide .img-news, .col-wide-clean .img-news {
		margin-bottom: 6px;
		_margin-bottom: 0;
	}
.bgr-lightgray, .bgr-mediumgray {
	background-color: #ECEAE7;
	padding: 10px;
	overflow: hidden;
	_display: inline-block;
}

.bgr-lightgray .col-skinny .lst-headlines li a {
	background-color: #ECEAE7 !important;
}
	.bgr-mediumgray {
		background-color: #BEB7AF;
		font-size: 12px;
		color: #FFFFFF;
	}
.ctn-mobile .bgr-mediumgray {
	margin-bottom: 3px;
	line-height: 16px;
}
	.ctn-mobile em {
		font-style: normal;
		color: #FFFFFF;
	}
.btn-general {
	background: url(../_img/btn-general.gif) left top no-repeat;
	height: 24px;
}
	a:hover .btn-general {
		background-position: -150px -60px;
	}
	.btn-seemore {
		margin-top: 10px;
		display: block;
		width: 70px;
		background-position: left -60px;
		text-indent: -9999px;
		*cursor: pointer;
	}
	.btn-seemore:hover {
		background-position: -150px -60px;
	}
	.btn-vote {
		width: 48px;
		background-position: left -90px;
		text-indent: -9999px;
	}
	.btn-vote:hover {
		background-position: -150px -90px;
	}
	.btn-search {
		width: 53px;
		background-position: left -180px;
	}
	a:hover .btn-search {
		background-position: -150px -180px;
	}
	.btn-morealerts {
		margin-top: 10px;
		float:left;
		width: 85px;
		background-position: left -120px;
		text-indent: -9999px;
		*cursor: pointer;
		_display:block;
		_float: none;		
	}
	a:hover .btn-morealerts {
		background-position: -150px -120px;
	}	

.frm-shoppingmodule {
}
	.frm-shoppingmodule div {
		background: #FFFFFF url(../_img/img-shoppingsearch.gif) left top no-repeat;
		height: 24px;
		width: 177px;
	}
	.frm-shoppingmodule input {
		background: none;
		border: 1px solid #FFFFFF;
		width: 171px;
		margin: 2px 0 0 2px;
	}
	.frm-shoppingmodule div, .frm-shoppingmodule a {
		float: left;
	}
		.frm-shoppingmodule button {
			margin: 0;
		}
.chk-rdo-replace {
	display: block;
	float: left;
	margin: 0 5px 0 0;
	*margin: -4px 2px 0 -4px;
}
	.rdo-replace, .chk-replace {
		cursor: pointer;
		display: block;
		float: left;
		width: 13px;
		height: 13px;
		margin-right: 5px;
		margin-bottom: 8px;
		text-indent: -9999px;
		background: url(../_img/img-controls.gif) -30px -120px no-repeat;
	}
	.chk-replace {
		background-position: -30px -150px;
	}
	.rdo-checked {
		background-position: -60px -120px;
	}
	.rdo-disabled {
		background-position: 0px -120px;
		cursor:default;
	}
	.rdo-checked-disabled {
		background-position: -90px -120px;
		cursor:default;
	}
	.chk-checked {
		background-position: -60px -150px;
	}
	.chk-disabled {
		background-position: 0px -150px;
		cursor:default;
	}
	.chk-checked-disabled {
		background-position: -90px -150px;
		cursor:default;
	}
.sponsor {
	height: 31px;
	line-height: 31px;
	font-size: 9px;
	color: #BEB7AF;
	float: right;
}
	.sponsor em, .sponsor div {
		text-transform: lowercase;
		float: left;
		font-style: normal;
	}
	.sponsor div {
		height: 31px;
	}
.tgm-top {
	position: absolute;
	top: 0;
	width: 830px;
	margin-left: 106px;
	z-index: 999;
}
.trr-home .tgm-top {
	margin-left: 125px;
	width: 811px;
}
.trr-itelefonica .tgm-top {
	top: 100px;
}
/*
// CROSS DEFINITIONS
*/

.ttl-related {
	background-position: left -300px;	
	margin-top: 16px;
	margin-bottom:12px;
	*margin-bottom:14px;	
}

.lnk-external {
	background:transparent url(../_img/ico-general.gif) no-repeat  right -480px;
	padding-right: 14px;
}
.ico-external {
	background:transparent url(../_img/ico-general.gif) no-repeat  right -484px;
	display:inline-block;
	margin-left:3px;
	width:10px;
	height:7px;
	text-indent:-9999px;
	vertical-align:middle;
}
.lst-top10 .bgr-lightgray {
	line-height:6px;
	*line-height:9px;
}
.col-right .lst-top10 {
	*margin-bottom:-2px;
}
h2 a {
	color: #47423A;
}
.col-skinny .bgr-lightgray .col-wide .lnk-more {
	line-height:29px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* hack para safari*/ 
.col-left h1, .ttl-h1
{
	margin-top:-2px;
	margin-bottom: 7px;
}

}
.col-left-full .ttl-section {
	height:31px;	
}


.img-news-clean {
	margin-bottom: 0px;	
}



/* Barra de Especiais */
.ctn-especial {
	background-color: #FFFFFF;
	padding-bottom: 10px;
}
	.ctn-especial .bar {
		border: 1px solid #FF9900;
		height: 31px;
	}
		.col-skinny .ctn-especial .bar {
			border: 1px solid #FF9900;
			height: 23px;
		}
			.ctn-especial .bar .title, .ctn-especial .bar ul {
				overflow: hidden;
				float: left;
			}
			.ctn-especial .bar ul {
				margin: 8px 0 0 -5px;
			}
				.ctn-especial .bar ul li {
					background: url(../_img/lin-dotted.gif) 7px 1px repeat-y;
					float: left;
					padding: 0 0 1px 15px;
					*padding: 1px 0 0 15px;
				}
					.ctn-especial .bar ul .first {
						background: none;
					}
				.ctn-especial .bar ul li a {
					color: #978E81;
					font-weight: bold;
				}
				.ctn-especial .bar ul li a:hover {
					color: #FF9900;
				}
			.ctn-especial .bar .title {
				border-right: 1px solid #FF9900;
				height: 31px;
			}
				.col-skinny .ctn-especial .bar .title {
					border-right: none;
					height: 23px;
				}
			.ctn-especial .bar .title a:hover img {
				margin-top: -40px;
			}
			.ctn-especial .bar .sponsor {
				margin-bottom: -3px;
			}
				.ctn-especial .bar .sponsor em {
					color: #999999;
					margin-right: 3px;
					_margin-right: 0;
				}

/* Barra de Links */
.ctn-section {
	width: 619px;
	overflow: hidden;
	*margin-bottom: 10px;
}
	.ctn-section .ttl-section, .ctn-section .links {
		float: left;
	}
	.ctn-section .ttl-section a {
		position: relative;
		background-position: right -7px;
		*background-position: right 2px;
	}
	.ctn-section .links {
		margin: 2px 0 0 18px;
	}
		.ctn-section .links .bar {
			border: 2px solid #ECEAE7;
			height: 21px;
			float: left;
		}
			.ctn-section .links ul {
				overflow: hidden;
				margin: 3px 6px 0 0;
			}
				.ctn-section .links ul li {
					background: url(../_img/lin-dotted.gif) 6px 1px repeat-y;
					float: left;
					padding: 1px 0 0 13px;
				}
				.ctn-section .links ul .first {
					background: none;
					padding-left: 7px;
				}
			.ctn-section .links ul li a {
				color: #978E81;
				font-weight: bold;
			}
			.ctn-section .links ul li a:hover {
				color: #FF9900;
			}
		.ctn-section .sponsor em {
			margin-right: 3px;
			_margin-right: 0;
		}

/* Tabs content */
.tab-content thead th { 
	height: 25px; 
	/height: 25px; 
	background-color: #ABA299; 
	color:#FFFFFF; 
	text-transform:uppercase;
	font-weight:bold;
	padding: 0px 10px;
}
.tab-content tbody td { 
	background-color: #ECEAE7; 
	border-right: 1px solid #FFFFFF; 
	border-top: 1px solid #FFFFFF;
	padding: 8px 10px 7px 10px;
	line-height: 16px;
}
	.tab-content tbody td a {
		font-weight: bold;
	}
		.tab-content tbody td a span {
			color: #FF9900;
			font-size: 14px;
			margin: -1px 0 0 2px;
			/margin: -2px 0 0 2px;
			position: absolute;
			cursor: pointer;
		}		
.tab-content tbody td.last {
	border-right: none;
}



.ttl-dynamic a:hover {
	background-position:0 -30px !important;
}

.ttl-dynamic a {
	background-position:0 0 !important;
	background-repeat:no-repeat;
	width:auto !important;
	padding-right:0;
	width:auto !important;
}

.bgr-sssr {background:url("../_img/lin-ver-sssr.gif") repeat-y scroll 203px top transparent;}
/*CORE3.css*/


#trr-ctn-general input {
	font-size:13px ;
	font-style: normal;
	padding: 1px 0px;
	border: solid 1px #E7E8E2;
	border-radius: 0;
}
