/*** 
	CONFIG PADRÃO
***/

* {margin: 0; padding: 0;}
h1 {font-size:16px; margin-bottom: 20px;}
h2 {font-size:16px; margin-bottom: 20px;}
h3 {font-size:13px;}
h4, h6 {font-size:16px; font-weight:bold; color:#000000;	margin-top:15px; display:inline-block;}
h5 {color:#FF0000; text-transform:uppercase; font-size:13px;}
h6 {margin-bottom:15px;}
img, a {border: 0;}
body {font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#47423a;}
a {color:#ff9900;}
ul{list-style: none;}
select{padding: 2px; border: 1px solid #ccc; font-size: 12px !important;}
h2.tituloImg{margin-bottom: 15px;}

.master {width:962px; margin:0 auto; position: relative; z-index: 9;}

/*** 
	BOTÕES / SUBMITS / LINKS
***/

.btn-ok-pag{
background-color:#ff9803;
color:#fff;
font-size:10px;
border:none;
display:block;
cursor:pointer;
border-radius:2px;
padding:5px 5px;
font-weight:bold;
clear:both;
margin-left:205px;
margin-top:50px;
}
.btn-voltar-capa-n{
background: url('../img/voltar_ca.gif') left top no-repeat;
width: 104px;
height: 24px;
 overflow: hidden; display: block; float: left;  text-indent: -999px; border: 0; cursor: pointer; *line-height: 0 !important; clear: both;
}

.btn-voltar-capa-n:hover{
background-position: left bottom !important;
}

.btn-atualizar-n, .btn-ok-n, .btn-voltar-n, .btn-atualizar-n, .btn-assine-n, .btn-painel-n,
.btn-config-n, .btn-acessar-n, .btn-download-n, .btn-discador-n, .btn-acelerador-n,
.btn-instalar-n, .btn-pagos-n, .btn-extrato-n, .btn-sim-n, .btn-nao-n, .btn-continuar-n,
.btn-confirmar-n, .btn-cancelar-n, .btn-capa-n, .btn-criar-n, .btn-remover-n, .btn-alterar-n, .btn-imprimir-n, .btn-gerar-boleto-n{
background: url('../img/btn-prd-bg-n.gif') no-repeat;
}
.btn-atualizar-n{ background-position: 0 -117px;height: 24px; width: 82px; overflow: hidden; display: block; float: left;  text-indent: -999px; border: 0; cursor: pointer; *line-height: 0 !important; clear: both; }
.btn-voltar-n{ background-position: 0 -546px; height: 24px; width: 57px; overflow: hidden; display: block; float: left;  text-indent: -999px; border: 0; cursor: pointer; *line-height: 0 !important; }
.btn-ok-n{ background-position: 0 -429px; height:24px; width: 32px;  overflow: hidden; display: block; float:left;  text-indent: -999px; border: 0; cursor: pointer; *line-height: 0 !important; }
.btn-imprimir-n{ background-position: 0 -351px; height: 24px; width: 65px; overflow: hidden; display: block; float: left;  text-indent: -999px; border: 0; cursor: pointer; *line-height: 0 !important; }
.btn-assine-n{ background-position: 0 -78px; height: 24px; width: 66px; overflow: hidden; display: block; float: left;  text-indent: -999px; border: 0; cursor: pointer; *line-height: 0 !important; }
.btn-painel-n{ background-position: 0 -468px; height: 24px; width: 121px; overflow: hidden; display: block; float: left;  text-indent: -999px; border: 0; cursor: pointer; *line-height: 0 !important; }
.btn-config-n{ background-position: 0 -156px ; height: 24px; width: 99px; overflow: hidden; display: block; float: left;  text-indent: -999px; border: 0; cursor: pointer; *line-height: 0 !important; }
.btn-acessar-n{ background-position: 0 -39px; height: 24px; width: 62px; overflow: hidden; display: block; float: left;  text-indent: -999px; border: 0; cursor: pointer; *line-height: 0 !important; }
.btn-download-n{ background-position: 0 -273px; height: 24px; width: 73px; overflow: hidden; display: block; float: left;  text-indent: -999px; border: 0; cursor: pointer; *line-height: 0 !important; }
.btn-discador-n{ background-position: 0 -234px; height: 24px; width: 66px; overflow: hidden; display: block; float: left;  text-indent: -999px; border: 0; cursor: pointer; *line-height: 0 !important; }
.btn-acelerador-n{ background-position: 0 0; height: 24px; width: 88px; overflow: hidden; display: block; float: left;  text-indent: -999px; border: 0; cursor: pointer; *line-height: 0 !important; }
.btn-pagos-n{ background-position: 0 -507px; height: 24px; width: 199px; overflow: hidden; display: block; float: left;  text-indent: -999px; border: 0; cursor: pointer; *line-height: 0 !important; }
.btn-instalar-n{ background-position: 0 -390px; height: 24px; width: 67px; overflow: hidden; display: block; float: left;  text-indent: -999px; border: 0; cursor: pointer; *line-height: 0 !important; }
.btn-extrato-n{ background-position: 0 -312px ; height: 24px; width: 97px; overflow: hidden; display: block; float: left; text-indent: -999px; border: 0; cursor: pointer; *line-height: 0 !important; }
.btn-sim-n{ background-position: 0 -663px ; height: 24px; width: 41px; overflow: hidden; display: block; float: left; text-indent: -999px; border: 0; cursor: pointer; *line-height: 0 !important; }
.btn-nao-n{ background-position: 0 -624px ; height: 24px; width: 41px; overflow: hidden; display: block; float: left; text-indent: -999px; border: 0; cursor: pointer; *line-height: 0 !important; }
.btn-continuar-n{ background-position: 0 -585px ; height: 24px; width: 76px; overflow: hidden; display: block; float: left; text-indent: -999px; border: 0; cursor: pointer; *line-height: 0 !important; }
.btn-confirmar-n{ background-position: 0 -702px ; height: 24px; width: 159px; overflow: hidden; display: block; float: left; text-indent: -999px; border: 0; cursor: pointer; *line-height: 0 !important; }
.btn-cancelar-n{ background-position: 0 -741px ; height: 24px; width: 69px; overflow: hidden; display: block; float: left; text-indent: -999px; border: 0; cursor: pointer; *line-height: 0 !important; }
.btn-criar-n{ background-position: 0 -195px ; height: 24px; width: 47px; overflow: hidden; display: block; float: left; text-indent: -999px; border: 0; cursor: pointer; *line-height: 0 !important; }
.btn-remover-n{ background-position: 0 -819px ; height: 24px; width: 67px; overflow: hidden; display: block; float: left; text-indent: -999px; border: 0; cursor: pointer; *line-height: 0 !important; }
.btn-alterar-n{ background-position: 0 -858px ; height: 24px; width: 67px; overflow: hidden; display: block; float: left; text-indent: -999px; border: 0; cursor: pointer; *line-height: 0 !important; }
.btn-capa-n{ background-position: 0 -780px ; height: 24px; width: 124px; overflow: hidden; display: block; float: left; text-indent: -999px; border: 0; cursor: pointer; *line-height: 0 !important; }
.btn-gerar-boleto-n{ background-position: 0 -896px ; height: 24px; width: 124px; overflow: hidden; display: block; float: left; text-indent: -999px; border: 0; cursor: pointer; *line-height: 0 !important; }^M
.btn-atualizar-n:hover{ background-position: -220px -117px; }
.btn-voltar-n:hover{ background-position: -220px -546px; }
.btn-ok-n:hover{ background-position: -220px -429px; }
.btn-imprimir-n:hover{ background-position: -220px -351px; }
.btn-assine-n:hover{ background-position: -220px -78px; }
.btn-painel-n:hover{ background-position: -220px -468px; }
.btn-config-n:hover{ background-position: -220px -156px ; }
.btn-acessar-n:hover{ background-position: -220px -39px; }
.btn-download-n:hover{ background-position: -220px -273px; }
.btn-discador-n:hover{ background-position: -220px -234px; }
.btn-acelerador-n:hover{ background-position: -220px 0; }
.btn-instalar-n:hover{ background-position: -220px -390px; }
.btn-pagos-n:hover{ background-position: -220px -507px; }
.btn-extrato-n:hover{ background-position: -220px -312px; }
.btn-sim-n:hover{ background-position: -220px -663px; }
.btn-nao-n:hover{ background-position: -220px -624px; }
.btn-continuar-n:hover{ background-position: -220px -585px; }
.btn-confirmar-n:hover{ background-position: -220px -702px; }
.btn-cancelar-n:hover{ background-position: -220px -741px; }
.btn-criar-n:hover{ background-position: -220px -195px; }
.btn-remover-n:hover{ background-position: -220px -819px; }
.btn-alterar-n:hover{ background-position: -220px -858px; }
.btn-capa-n:hover{ background-position: -220px -780px; }
.btn-ok-pag:hover{background-color:#fff;color:#ff9803;border-color:#ff9803; border-width:10px; }
.btn-gerar-boleto-n:hover{ background-position: -220px -896px; }^M

.input{font-size:12px;padding:3px;width:210px;border:solid 1px #c6c6c6;}
.inputTxt{font-size:12px;padding:3px;width:130px !important;border:solid 1px #c6c6c6;margin-bottom:5px;}

/***
	MODAL
***/


.CALogin { display: none; position: absolute; top: 25%; left: 50%; margin-left: -300px; width: 537px; height: 200px; background-color: #fff; color: #333; border: 3px solid #ff9900; padding: 10px; z-index:999999 !important;}
.jqmClose { position: absolute; z-index: 10000 !important; right: 20px; top: 20px; color: #666; font-weight: bold; font-size: 13px; text-decoration: none; }
.jqmClose span { display: inline; margin: 0px 5px; color: #ff9900; }
.jqmOverlay { background-color: #fff; z-index:9999 !important;}
* html .CALogin { position: absolute; top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');}

.CALogin h4{ float: left; height: 25px; margin: 10px 0px 0px 10px; font-size: 12px; font-weight: normal; }
.CALogin p{ float: left; clear: both; width: 400px; margin: 25px auto 0px 10px; font-size: 12px; font-weight: normal; color: #666; line-height: 22px; }
.CALogin label{ margin-right:10px; width:111px; display:inline-block;font-size:11px; color:#fff; background:url(../../img/input-txt-login.jpg) no-repeat bottom left;}
.CALogin .bgLogin{ position: relative; width:517px; height:40px; margin-top: 130px; *margin-top: 140px; margin-left: -10px; padding:20px; border:0px solid; background:url(../../img/bgLogin.jpg) no-repeat; color: #fff;}
.CALogin .inputtxt{ width:101px; *width: 99px; height:16px; *height:14px; padding: 2px 5px 2px 5px; *padding: 4px 5px 2px 7px; border:0px solid; background: none !important; line-height: 11px; font-size: 11px; color: #333; }
.CALogin .btn-entrar{ position: absolute; top: 34px; right: 150px; width:53px; height:20px; border:0px solid; background:url(../../img/btn-entrar-login.jpg) no-repeat; cursor: pointer; }
.CALogin .ajuda{ position: absolute; top: 24px; right: 80px; font-size:11px;  color:#fff; text-decoration:underline;}
.CALogin .forgot{ position: absolute; top: 47px; right: 28px; font-size:11px;  color:#fff; text-decoration:underline;}
.CALogin .msg_erro{  display: none; }



.bullet { background:url(../img/bullet.jpg) -7px 0px no-repeat; padding-left: 10px;}
.hide { display:none; }
.labelText { margin: 7px 0px;}
.divAdvise {
background-image:url(../img/bar_Erro.jpg);
background-repeat:no-repeat;
width:962px;
height:42px;
margin-left:-10px;
margin-bottom:20px;
}
.divError {
background-image:url(../img/back_Erro.gif);
background-repeat:no-repeat;
margin-left:-10px;
margin-bottom:20px;
}
.divErrorInt {margin-left:52px;margin-top:14px;display:inline-block;}
.divAdviseInt {margin-left:52px;margin-top:14px;display:inline-block;}
.divSucess {
background-image:url(../img/back_sucess.gif);
background-repeat:no-repeat;
width:962px;
height:42px;
margin-left:-10px;
margin-bottom:20px;
}
.divSucessInt {margin-left:52px;margin-top:14px;display:inline-block;
}
.clear {clear:both;}
/*--- Cancelamento on line ----*/
.cancelaOnline {margin-bottom:20px;display:inline-block;}
.margintop {margin-top:18px;*padding-top:18px;}
.important {background-color:#dcefff;padding:10px;}
.labelCancelamento {
width:87px !important;
display:inline-block;
text-align:right;
margin-right:3px;
}
.inputTxtCancela {
font-size:12px;
padding:3px;
width:130px;
border:solid 1px #c6c6c6;
}
.imgCaptcha {margin-top:10px;}
.btnCancelamento {margin-left:289px;}
.btn_cancelaOnline {margin-left:206px;}
.titlePacotes {text-transform:uppercase;color:#ff9603;margin-top:15px;}
.dadosCliente {
width:70px;
text-align:left;
margin-right:10px;
float:left;
}
.cancelaOnline dl {
background-color:#f4f1f0;
background-image:url(../img/bgDL.gif);
background-repeat:repeat-y;
border:solid 2px #f4f1f0;
display:inline-block;
width:942px;
}
.cancelaOnline dt {
background-color:#FFFFFF;
width:82px;
float:left;
display:inline;
}
.cancelaOnline dt img{margin-top:20px;margin-left:17px;margin-bottom:20px;}
.cancelaOnline dd {
margin-top:16px;
margin-left:20px;
float:left;
padding-bottom:20px;		
}
.cancelaOnline li {list-style-type:none;}
.cancelaOnline h2 {text-transform:uppercase;font-weight:bold;}
.cancela_mantido {color:#249a45;}
.cancela_excluido {color:#992323;}
.txtQuestion {margin-bottom:17px;}
.outroPlano {
margin-bottom:40px;
color:#47423a;
/*IE7*/
*margin-bottom:0px;
}
.outroPlano dl {
border:solid 3px #ececec;	
background-color:#f4faff;
display:inline-block;
width:942px;
}
.outroPlano dt {height:107px;float:left;}
.outroPlano dt img {margin-top:13px;margin-left:8px;margin-right:18px;}
.outroPlano dd {margin-top:13px;}
.outroPlano h2 {text-transform:uppercase;}
.txtPreco {
font-size:16px;
color:#ff9e0c;
font-weight:bold;
margin-bottom:5px;
margin-top:3px;
display:block;
}		
.outroPlano li {list-style-type:none;}
.txtObs {
width:805px;
float:left;
/*IE7*/
*margin-top:40px;
}
.btns {
float:right;
padding-top:8px;
text-align:right;
width:136px;
/*IE 7*/
*margin-top:40px;
}
.titulosContrato {width:828px;border:solid 2px #beb7af;}
.titulosContrato th {
background-color:#beb7af;	
border:solid 1px #beb7af;	
color:#FFFFFF;
padding:5px;		
}
.titulosContrato td {border-top:solid 1px #beb7af;padding:5px;}

/*--------- Esqueci minha senha -------*/
.header_esqueciSenha{margin-bottom:18px;}
.esqueciSenha {color:#47423a;display:inline-block;}
.part1 {float:left;width:100% !important;}
.part2 {float:left;}
.esqueciSenha p {margin-bottom:10px;}
p.pCombo {margin-bottom:24px;}
.icoEsqueciSenha {margin-right:10px;}
.esqueciSenhaInt label, .captcha {
width:250px;
display:inline-block;
float:left;
text-align:right;
margin-right:5px;
padding-top:3px;
}
.captcha {padding-top:0px;}
.inputTxt {
font-size:12px;
padding:3px;
width:130px;
border:solid 1px #c6c6c6;
margin-bottom:5px;
}
.emailInfo{
float: right;
height: 20px;
position: relative;
top: -25px;
width: 85PX;
}
.inputGrande {
font-size:12px;
padding:3px;
width:500px;
border:solid 1px #c6c6c6;
margin-bottom:5px;
}	
.username {line-height:22px;}
.errortxt {color:#FF0000;}
.esqueciSenhaInt {
margin-left:100px;
margin-top:25px;
width:490px;
float:left;
}

.btn_esqueciSenha {margin-left:259px;margin-top:10px;}
.btn_esqueciSenhaOK {margin-left:500px;margin-top:10px;}
.linkCaptcha a {font-size:11px;color:#57b583;text-decoration:none;}
#reloadCaptchaButton  {
text-decoration: underline; 
cursor: pointer;
margin-left:259px;
margin-top:10px;
color: #47423A;
font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
}
.pleft_esquecisenha {
float:left;
width:370px;
text-align:right;
margin-right:5px;
}
.left {float:left;}
.inputContrato {width:100px;float:left;}
.inputNascimento {
width:230px;
float:left;
/*IE7*/
*width:178px;
}
.inputBorder {border:solid 1px #c6c6c6;}
.btnContrato {
margin-top:40px;
margin-left:-100px;
float:left;
/*IE7*/
*margin-left:-86px;			
}
.btnNascimento {
margin-top:40px;
margin-left:-230px;
float:left;
/*IE7*/
*margin-left:-86px;			
}
/* ---- Meus dados -----*/
.ico {float:left;height:40px;}
.btnNav {margin-left:145px;}
#popup2{
position: absolute;
top: 15%;
left: 25%;
z-index: 999999;
padding: 15px;
border: 7px solid #ff9900;
overflow: hidden;
display: none;
background-color: #fff;
width: 630px;
height: auto;
}	

/***
	MODAL PORTEIRA 2.0
***/

#avisos_personalizados {display:none; text-align: left; z-index:999999997 !important}
#simplemodal-overlay {background-color:#fff; z-index:999999996 !important}
#avisos_personalizados a{color: #f90;text-decoration: none;}
#avisos_personalizados a:hover{text-decoration: underline;}
#avisos_personalizados {height:637px; width:937px; color:#bbb; border:3px solid #E67607; margin: 0 auto; position: relative !important; background-color: #fff;}
#avisos_personalizados .simplemodal-data {padding:0;}
a.modalCloseImg {background:url(../img/porteira/fechar.png) no-repeat; width:64px; height:22px; display:inline; z-index:3200; position:absolute; top:0px; right:-15px; cursor:pointer;}
#avisos_personalizados p{font: 13px Arial;color: #444;margin-bottom: 18px;line-height: 18px;}
.avisos_personalizados_txt{ width: 547px; height: 390px; padding: 50px 45px; background: url(../img/porteira/bg.png) 0 0 no-repeat; }
a.entrar img { position: absolute; top: 233px; right: 33px; }
#avisos_personalizados p { margin-bottom: 20px; font: 16px/1.3 'Arial', sans-serif; color: #47423a;}
#avisos_personalizados p a { font-size: 21px; color: #e67607; text-decoration: none; font-weight: bold; }
#avisos_personalizados small { font-size: 11px; color:#47423A; position: absolute; bottom: 30px; }
#simplemodal-container{z-index:999999998 !important}

.reCaptchaContainer {
	border: 	1px solid #E6E3E0;
	padding: 	15px;
	border-radius: 15px;
	width:		315px;
	margin-left:259px;
}

.reCaptchaContainer a {
	margin:				7px 0px 0px 1px;
	color: 				#FF9900;
    font-size: 			10px;
    font-weight: 		700;
    text-decoration: 	none;
}

.recaptcha_only_if_image, .recaptcha_only_if_audio{float: left !important; padding: 5px;}

.reCaptchaContainer a:hover {
    text-decoration: 	underline;
}

.recaptcha_response_div{
float: left;
margin: 0 !important;
}

#recaptcha_image{clear: both;} 

/***
	TELA DE SUCESSO
***/

.produtos-faq-list{overflow: auto; padding: 25px 0;}

.box-faq-list{
float: left;
padding: 10px 18px 5px;
border: 1px solid #E9E9E9;
margin: 5px 10px 5px 0;
}

.box-faq-list a{
text-align: center;
display: block !important;
text-decoration: none;
} 

.chat-empresarial-link {
color: #FF9900;
font-weight: bold;
}

.bottom--error-alias {
    position: relative;
    height: 20px;
}

.bottom--error-alias > .error_field_alias {
    position: absolute;
    top: 0;
    left: 210px;
    width: 600px;
}

.esqueciSenhaInt--fix {
    display: block;
    float: none;
}

.btn-voltar-n--fix,
.btn-continuar-n--fix {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.ems-label--fix {
  line-height: normal !important;
}

/**
    LOADER
**/
#div_clock {
    position: absolute;
    float:left;
    width:170px;
    height:70px;
    background-color: #ffffff;
    border: 2px solid #cccccc;
    margin-left: 396px;
    z-index: 999;
    top: 200px;
}

#div_clock .imgLoader {
    float:left;
    width:50px;
    height:70px;
    margin-left:10px;
    padding-top:15px;
}

#div_clock .imgLoader img {
    height:40px;
    width: 40px;
}

#div_clock .txtLoader {
    float:left;
    width:100px;
    height:70px;
    vertical-align:middle;
    line-height:70px;
    padding-left:10px;
    font-weight:bold;
}

.porteira-atualizacao-cadastral
    label.email--porteira {
        margin-bottom: 20px;
        font: 14px/1.3 'Arial', sans-serif;
        color: #47423a;
}

.porteira-atualizacao-cadastral
    .form-inline
        .form-group {
            display: inline-block;
            margin-bottom: 0;
            vertical-align: middle;
}

.porteira-atualizacao-cadastral
    form
        .form-control {
            border: 0;
            box-sizing: border-box;
            line-height: 24px;
            height: 24px;
            padding: 0px 10px;
            color: #47423a;
            width: 250px;
            -webkit-border-radius: 3px;
               -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                 -o-border-radius: 3px;
                    border-radius: 3px;
}

.porteira-atualizacao-cadastral
    form
        .large {
            width: 250px;
}